body {
  font-family: 'Antic', sans-serif;
  font-size: 14px;
  color: #423D37;
  background-color: #FEEFC7;
}

/*********header**********/

.main-header {
  background-color: #B6CD92;
  height: 120px;
}

.title a:link {
  color: #278686;
  font-size: 3.5rem;
  text-decoration: none;
  float: left;
  margin: 20px o o 20px;
 }

 .title a:visited {
   color: #278686;
   text-decoration: none;
  }

.nav-links li {
   font-size: 1.5rem;
   display: inline;
 }

 .nav-links li a:link {
   color: #F9DF93;
   list-style-type: none;
   text-decoration: none;
 }
/******main body content******/
div {
  background-color: #D7C7B6;
  width: 70%;
  float:left;
  display: inline-block;
}

/*.content-header h1 {
  font-size: 2rem;
}*/

article div {
  background-color: #E2D1BF;
  width: 100%;
}

article div h2 {
  font-size: 1.65rem;
}

article div h3 a:link {
  color: #423D37;
  text-decoration: none;
}

article div h3 a:visited {
  color: #423D37;
  text-decoration: none;
}

article div p {
  text-align:center;
}

article div p a:visited {
  color: #423D37;
  text-decoration: none;
}

article div p a:link {
  color: #423D37;
  text-decoration: none;
}

.post-img-container {
  margin: 15px;
  border: 5px solid #E2D1BF;
  width: 95%;
  height: 400px;
}

.post-img {
  width: 100%;
  height: 100%;
}

.post-content p {
  clear: both;
  margin: 30px;
  text-align: justify;
}

.post-center-imgs {
  margin: 23px;
  padding: 2px;
  border-radius: 50%;
  border: 10px solid #9CB575;
  width: 25%;
  height: 200px;
  display: inline;

}

.center-imgs {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/*******right side section*******/
 aside {
   float:right;
   width: 29%;
   height: 550px;
   background: rgba(165,227,223,1);
background: -moz-linear-gradient(top, rgba(165,227,223,1) 0%, rgba(165,227,223,1) 31%, rgba(55,116,116,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,227,223,1)), color-stop(31%, rgba(165,227,223,1)), color-stop(100%, rgba(55,116,116,1)));
background: -webkit-linear-gradient(top, rgba(165,227,223,1) 0%, rgba(165,227,223,1) 31%, rgba(55,116,116,1) 100%);
background: -o-linear-gradient(top, rgba(165,227,223,1) 0%, rgba(165,227,223,1) 31%, rgba(55,116,116,1) 100%);
background: -ms-linear-gradient(top, rgba(165,227,223,1) 0%, rgba(165,227,223,1) 31%, rgba(55,116,116,1) 100%);
background: linear-gradient(to bottom, rgba(165,227,223,1) 0%, rgba(165,227,223,1) 31%, rgba(55,116,116,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5e3df', endColorstr='#377474', GradientType=0 );
 }

 aside div {
   background-color: #278686;
   width: 100%;
   color: #F9DF93;
   text-align: center;
   font-size: 1rem;
 }

.top-cat {
  clear:both;
  height: 170px;
}

 .top-cat img {
   display: inline-block;
   float:left;
   border-radius: 50%;
   margin: 5%;
 }

.top-cat h3 {
  display: inline-block;
  margin-top: 30px;
 }

.top-cat p {
   margin: -10px 12px 0 0;
 }

/******************************/
 footer {
   color: #377474;
   clear:both;
   background-color: #C1D3A6;
 }

 footer * {
   display: inline-block;
 }

 footer h4 {
   font-size: 1.5rem;
   width: 10%;
   margin: 20px;
 }

 footer p {
   font-size: .75rem;
   width: 70%;
   align: bottom;
 }

 footer nav {
   float: right;
   margin-right: 15px;
 }

footer nav li a:link {
  color: #377474;
  width: 50px;
  list-style-type: none;
  text-decoration: none;

}
